// .home {
//   color: red;
//   font-size: 18px;
//   h1 {
//     font-weight: normal;
//   }
//   li {
//     height: 45px;
//     line-height: 44px;
//   }
// }

.pullup {
  height: 100%;
  .pullup-list { padding: 0 }
  .pullup-list-item {
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
  }
  li {
    height: 40px;
    line-height: 40px;
  }
  .pullup-tips{
    padding: 20px;
    text-align: center;
    color: #999
  }
}